@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}


body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
